external:
  polygon:
    base-url: https://api.polygon.io

spring:
  datasource:
    url: jdbc:postgresql://news-db:5432/news_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    open-in-view: false
  application:
    name: news-service

logging:
  level:
    io.github.resilience4j: DEBUG

server:
  port: 8080
  address: 0.0.0.0
  tomcat:
    mbeanregistry:
      enabled: true


resilience4j:
  circuitbreaker:
    instances:
      polygonNewsCB:
        sliding-window-type: TIME_BASED
        sliding-window-size: 60
        minimum-number-of-calls: 50
        slow-call-duration-threshold: 2s
        slow-call-rate-threshold: 70
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
        permitted-number-of-calls-in-half-open-state: 5
        recordExceptions:
          - java.net.SocketTimeoutException
          - java.io.IOException
          - org.springframework.web.client.HttpServerErrorException
          - org.springframework.web.client.ResourceAccessException
        ignoreExceptions:
          - org.springframework.web.client.HttpClientErrorException
  retry:
    instances:
      readSafe:
        max-attempts: 1
        wait-duration: 1ms
        enable-exponential-backoff: true
        retry-exceptions:
          - java.net.SocketTimeoutException
          - java.io.IOException
          - org.springframework.web.client.ResourceAccessException
        ignore-exceptions:
          - org.springframework.web.client.HttpClientErrorException

  bulkhead:
    instances:
      newsRead:
        max-concurrent-calls: 64
        max-wait-duration: 0ms
      newsFetch:
        max-concurrent-calls: 20
        max-wait-duration: 0ms



polygon:
  api:
    key: ${POLYGON_API_KEY}

management:
  endpoints:
    web:
      exposure:
        include: health, info, metrics, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    distribution:
      percentiles-histogram:
        http.server.requests: true
      slo:
        "[http.server.requests]": 25ms,50ms,100ms,200ms,400ms,800ms
    tags:
      application: ${spring.application.name}
  prometheus:
    metrics:
      export:
        enabled: true

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger
    operationsSorter: method
    tagsSorter: alpha